body, html {
  background: gray; }

#pslide_display {
  position: absolute;
  top: 20px;
  left: 150px;
  border-radius: 10px;
  margin-top: 30px;
  width: 960px;
  height: 600px;
  border: 1px solid #000000;
  background: transparent;
  overflow: hidden; }

#pslide_display_back {
  position: absolute;
  top: 20px;
  left: 150px;
  border-radius: 10px;
  margin-top: 30px;
  width: 960px;
  height: 600px;
  border: 1px solid #000000;
  background: white;
  overflow: hidden; }

#side_panel {
  background: #fcfff4;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #fcfff4), color-stop(40%, #dfe5d7), color-stop(100%, #b3bead));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  /* IE10+ */
  background: linear-gradient(-45deg, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fcfff4', endColorstr = '#b3bead', GradientType = 1);
  /* IE6-9 fallback on horizontal gradient */
  position: absolute;
  left: 0px;
  padding-top: 40px;
  text-align: center;
  height: 800px;
  width: 140px;
  border: 1px solid black; }

#mode_button {
  color: white;
  font-size: 24px;
  width: 90px;
  line-height: 28px; }

a:hover {
  text-decoration: none; }

.non_design_buttons {
  display: none; }

.mini-slide {
  background: #cedce7;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #cedce7 0%, #596a72 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #cedce7), color-stop(100%, #596a72));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #cedce7 0%, #596a72 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #cedce7 0%, #596a72 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #cedce7 0%, #596a72 100%);
  /* IE10+ */
  background: radial-gradient(center, ellipse cover, #cedce7 0%, #596a72 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#cedce7', endColorstr = '#596a72', GradientType = 1);
  /* IE6-9 fallback on horizontal gradient */
  width: 192px;
  height: 120px;
  position: relative;
  border: solid 1px;
  border-radius: 6px;
  overflow: hidden; }
